<div class="grid-container">
  <div class="grid-item">
    <img src="https://picsum.photos/301/200" alt="Principio 1" />
    <h3>Component-Based</h3>
    <p>
      Angular utilizza un approccio basato sui componenti, facilitando la
      riutilizzabilità e la separazione delle responsabilità.
    </p>
  </div>

  <div class="grid-item">
    <img src="https://picsum.photos/300/201" alt="Principio 2" />
    <h3>Reattività</h3>
    <p>
      Con RxJS, Angular offre un modello di programmazione reattiva potente e
      flessibile.
    </p>
  </div>

  <div class="grid-item">
    <img src="https://picsum.photos/299/200" alt="Principio 3" />
    <h3>Dependency Injection</h3>
    <p>
      Il sistema DI di Angular aiuta a creare applicazioni efficienti, modulari
      e scalabili.
    </p>
  </div>

  <div class="grid-item">
    <img src="https://picsum.photos/300/199" alt="Principio 4" />
    <h3>Tools e Ecosistema</h3>
    <p>
      Con Angular CLI, moduli, e una vasta community, Angular offre un
      ecosistema ricco e potente.
    </p>
  </div>
</div>
